custom:
  bert_base_path: __GPT_SOVITS_DIR__/GPT_SoVITS/pretrained_models/chinese-roberta-wwm-ext-large
  cnhuhbert_base_path: __GPT_SOVITS_DIR__/GPT_SoVITS/pretrained_models/chinese-hubert-base
  device: mps
  is_half: false
  t2s_weights_path: __GPT_SOVITS_DIR__/GPT_SoVITS/pretrained_models/s1v3.ckpt
  version: v3
  vits_weights_path: __GPT_SOVITS_DIR__/GPT_SoVITS/pretrained_models/s2Gv3.pth
